@import "../../app.scss";

.background {
background-image: url(../../wallpaper/pineapplecut.png);
}

.results {
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $fifth-color;
    font-family: $second-font;

    #underShowMoreButton {
        padding-top: 5vh;
    }

    .movButtons {
        display: flex;
    }

    button {
        border: none;
        height: 4vh;
        border-radius: 10px;
        background-color: $fourth-color;
        font-family: $second-font;
        font-size: 1em;
        color: $second-color;
        // display: flex;
        // flex-direction: row;
        margin: .2vw;
        margin-bottom: 3vh;
        // justify-content: center;
        // align-items: center;
    }

    h3 {
        text-decoration: underline;
        color: $fourth-color;
        font-size: 3em;
    }

    .active {
        transition: height .5s ease;
        overflow  : hidden;
    }
    
    .active:not(.active) {
        display: none;
    }

    .movResults {
        // background-color: $third-color;
    }

ul {
    padding-top: 3vh;
    // text-decoration: none;
}

li {
    // list-style-type: none;
    font-size: 1.8em;
    line-height: 50px;
    // text-decoration: none;
}

// li:first-child{
//     font-weight: bold;
//     font-size: 1.8em;
//     color: $fourth-color;
// }

a:hover {
    // text-decoration: underline;
    cursor: pointer;
  }
}