@import "../../app.scss";

.results {
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $fifth-color;
    font-family: $second-font;
    
    h3 {
        text-decoration: underline;
        color: $fourth-color;
    }

    .movResults {
        // background-color: $third-color;
    }
}

ul {
    padding-top: 3vh;
    text-decoration: none;
}

li {
    list-style-type: none;
    font-size: 1.3em;
    text-decoration: none;
}

li:first-child{
    font-weight: bold;
    font-size: 1.8em;
    color: $fourth-color;
}

a:hover {
    // text-decoration: underline;
    cursor: pointer;
  }