@import "../../../app.scss";

.media-info-cont {
  // border: 1px solid white;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: $second-font;

  img {
    max-width: 20vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    // margin-right: 50px;
  }

  ul {
    margin: 0;
    list-style: none;
    // text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;

    #media-name {
      margin-right: 2.5vw;
      margin-top: 50px;
      font-family: $second-font;
      font-weight: bold;
      font-size: 2em;
      color: $second-color;
    }

    #media-dates {
      font-size: 1.3em;
      color: $second-color;
    }
  }
}
