@import "../../../app.scss";

.media-info-cont {
  // border: 1px solid black;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: $second-font;

  img {
    max-width: 12vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  ul {
    list-style: none;
    text-align: end;

    #media-name {
      font-family: $second-font;
      font-weight: bold;
      font-size: 2em;
    }

    #media-dates {
      font-size: 1.3em;
    }
  }
}
