@import "../../../app.scss";

.media-info-cont {
  // border: 1px solid white;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-family: $second-font;
  @include mq("mobile") {
    max-width: 30vw;
    height: 42vh;
    margin-bottom:2vh;
    
  }
  @include mq("tablet") {
    max-width: 30vw;
    margin-bottom:2vh;
    height: 43vh;
  }
  @include mq("standard") {
    max-width: 25vw;
    margin-bottom:2vh;
    height: 45vh;
  }
  @include mq("high-res") {
    max-width: 20vw;
    height: 60vh;
  }
  @include mq("wide") {
    max-width: 20vw;
    height: 60vh;
  }
  @include mq("extra-wide") {
    max-width: 20vw;
    height: 60vh;
  }

  img {
    max-width: 20vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-top: 60px;
    @include mq("mobile") {
      max-width: 30vw;
      // height: 0vh;
      margin-bottom:2vh;
      
    }
    @include mq("tablet") {
      max-width: 20vw;
      margin-bottom:1vh;
    }
    @include mq("standard") {
      max-width: 20vw;
      margin-bottom:vh;
    }
    @include mq("high-res") {
      max-width: 20vw;
    }
    @include mq("wide") {
      max-width: 20vw;
    }
    @include mq("extra-wide") {
      max-width: 20vw;
    }
  }

  ul {
    margin: 0;
    list-style: none;
    // text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
    @include mq("mobile") {
      display:none
    }
    @include mq("tablet") {
      display:none
    }
    @include mq("standard") {
      display:none
    }
    @include mq("high-res") {
      display:block
    }
    @include mq("wide") {
      display:block
    }
    @include mq("extra-wide") {
      display:block
    }

    #media-name {
      margin-right: 2.5vw;
      margin-top: 50px;
      font-family: $second-font;
      font-weight: bold;
      font-size: 2em;
      color: $second-color;
    }

    #media-dates {
      font-size: 1.3em;
      color: $second-color;
    }
  }
}
