@import "../../../app.scss";

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6vh;
  background: $fifth-color;

  display: flex;
  justify-content: center;
  align-items: center;

  .header-cont {
    // border: 1px solid black;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      // font-family: $first-font;
      font-family: $first-font;
      // font-style: italic;
      color: $second-color;
      // font-style: italic;
      font-size: 2.2em;
    }
    .input-cont {
      // border: 1px solid white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      input {
        border: none;
        width: 20vw;
        height: 2vh;
        border-radius: 6px;
        background-color: $second-color;
        padding-left: 10px;

        font-family: $second-font;
        color: $fourth-color;
      }
      input:focus {
        outline: none;
      }
      input:focus::-webkit-input-placeholder {
        opacity: 0;
      }
      i {
        padding-left: 5px;
        color: $second-color;
      }
    }
    button {
      border: none;
      height: 4vh;
      border-radius: 10px;
      background-color: $fourth-color;
      font-family: $second-font;
      font-size: 1em;
      color: $second-color;
      // padding-right: px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      i {
        margin: 0;
        padding-right: qpx;
        padding-bottom: 3px;
      }
    }
  }
}
