@import "../../../app.scss";

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6vh;
  background: $fifth-color;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 20;

  .header-cont {
    // border: 1px solid blue;
    width: 60vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq("mobile") {
      width: 90vw;
    }
    @include mq("tablet") {
      width: 70vw;
    }
    @include mq("standard") {
      width: 60vw;
    }

    a {
      text-decoration: none;
    }
    h1 {
      // border: 1px solid white;
      margin: 0;
      font-family: $first-font;
      color: $third-color;
      font-size: 2.2em;

      @include mq("mobile") {
        font-size: 1.4em;
      }
      @include mq("tablet") {
        font-size: 1.7em;
      }
      @include mq("standard") {
        font-size: 2em;
      }
    }
    .input-cont {
      // border: 1px solid white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      input {
        border: none;
        width: 20vw;
        height: 2vh;
        border-radius: 6px;
        background-color: $second-color;
        padding-left: 10px;

        font-family: $second-font;
        color: $fourth-color;

        @include mq("mobile") {
          width: 40vw;
          font-size: 0.5em;
        }
        @include mq("tablet") {
          width: 35vw;
          font-size: 0.8em;
        }
        @include mq("standard") {
          width: 30vw;
          font-size: 0.8em;
        }
      }
      input:focus {
        outline: none;
      }
      input:focus::-webkit-input-placeholder {
        opacity: 0;
      }
      i {
        padding-left: 5px;
        color: $second-color;
      }
    }
    button {
      border: none;
      height: 4vh;
      border-radius: 10px;
      background-color: $third-color;
      font-family: $second-font;
      font-size: 1em;
      color: $second-color;
      // padding-right: px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @include mq("mobile") {
        width: 6vw;
        border-radius: 5px;
        span {
          display: none;
        }
      }
      @include mq("tablet") {
        width: 6vw;
        border-radius: 8px;
        span {
          display: none;
        }
      }
      @include mq("standard") {
        width: 6vw;
        border-radius: 8px;
        span {
          display: none;
        }
      }
      @include mq("high-res") {
        width: 7vw;
        border-radius: 8px;
        span {
          display: block;
        }
      }
      @include mq("wide") {
        width: 5vw;
        border-radius: 8px;
        span {
          display: block;
        }
      }

      i {
        margin: 0;
        padding-right: qpx;
        padding-bottom: 3px;
      }

      :focus {
        outline: none;
      }
    }
  }
}
