@import "../../../app.scss";

.movie-body {
  width: 100vw;
  height: 100vh;
  background-color: $second-color;
  display: flex;
  justify-content: center;
  align-items: center;
border: 1px solid blue;
  
  
}
