@import "../../../app.scss";

.movie-body {
  width: 100vw;
  height: 100vh;
  // background-color: $second-color;
  background-image: url(../../../wallpaper/nami.png);

  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid blue;

  .loading {
    color: $third-color;
    animation: blinker 0.8s cubic-bezier(0.5, 0, 1, 1) infinite alternate;

    @keyframes blinker {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }

  .movie-media-info {
    // border: 1px solid blue;
    width: 80vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include mq("mobile") {
      flex-direction: column;
    }
    @include mq("tablet") {
      flex-direction: column;
    }
    @include mq("standard") {
      flex-direction: column;
    }
    @include mq("high-res") {
      flex-direction: row;
    }
    @include mq("wide") {
      flex-direction: row;
    }
    @include mq("extra-wide") {
      flex-direction: row;
    }

    .song-cont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .no-results {
        width: 40vw;
        font-family: $first-font;
        font-size: 1.4em;
        color: $second-color;
      }
      .songs-label {
        color: $second-color;
        font-family: $first-font;
        font-size: 1.8em;
        text-align: center;
      }
    }
  }
}
