@import "../app.scss";

#Search {
  // border: 1px solid black;
  .background {
    width: 100vw;
    height: 100vh;
    // background-color: $second-color;
    background-image: url(../wallpaper/vinyl.jpeg);
    background-size: 100% 110%, cover;
    position: relative;
    background-repeat: repeat;
    display: block;
    position: absolute;
    // opacity: .1;

    .header {
      width: 100%;
      height: 8vh;
      // background-color: $third-color;
    }
    .body {
      // margin-top: 15vh;
      // border: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      a {
        text-decoration: none;
      }
    }
  }

  h1 {
    // border: 1px solid black;
    font-family: $first-font;
    font-size: 5em;
    font-weight: bolder;
    display: block;
    margin-top: 20vh;
    margin-bottom: 2vh;
    text-align: center;
    color: $third-color;
  }
  .search-cont {
    // border: 1px solid black;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .userInput {
      border-radius: 12px;
      padding-left: .7vw;
      border: none;
      display: block;
      width: 24vw;
      height: 3vh;

      // font-family: $second-font;
      font-size: .8em;
      color: $fifth-color;
      text-align: left;
      align-content: center;
    }
    input:focus {
      outline: none;
    }
    input:focus::-webkit-input-placeholder {
      opacity: 0.3;
    }
    input:focus::-webkit-input-placeholder {
      opacity: 0;
    }
    i {
      // border: 1px solid black;
      display: block;
      color: $second-color;
      margin-left: 10px;
    }
  }
  p {
    // border: 1px solid black;
    margin-top: 3vh;
    width: 20vw;
    text-align: center;
    font-family: $second-font;
    font-size: 1em;
    color: $second-color;
  }
}
