@import "../../../app.scss";

#SongCardBody {
  // background: $fourth-color;
  // border: 50px $first-color solid;
  border-radius: 10px;
  width: 50vw;
  height: 32vh;
  margin: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: grid;
  place-items: end center;
  overflow-x: scroll;

  @include mq("mobile") {
    width: 80vw;
    padding-top: 2vh;
  }
  @include mq("tablet") {
    width: 70vw;
    padding-top: 2vh;
  }
  @include mq("standard") {
    width: 70vw;
    padding-top: 2vh;
  }
  @include mq("high-res") {
    width: 50vw;
    padding-top: 5vh;
  }
  @include mq("wide") {
    width: 50vw;
    padding-top: 5vh;
  }
  @include mq("extra-wide") {
    width: 50vw;
    padding-top: 5vh;
  }
  ::-webkit-scrollbar-track {
    background: black; 
  }

  .cards {
    display: flex;
    
 
  }

  .card {
    background: $third-color;
    width: 120px;
    border-radius: 0.3em;
    padding: 2em;
    box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
    transition: 0.2s;
    height: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card:not(:first-child) {
    //margin-left: -4rem;
    margin-left: -4rem;
  }

  .card:hover,
  .card:focus-within {
    transform: translateY(-1rem);
  }

  .card:hover ~ .card,
  .card:focus-within ~ .card {
    //transform: translateX(4rem);
    transform: translateX(4rem);
  }
  h2 {
    font-size: 1em;
    font-family: $second-font;
    color: $second-color;
    margin: 0;
  }

  h4 {
    color: $fifth-color;
    font-size: 0.8em;
    font-family: $second-font;
    text-transform: uppercase;
    margin: 0;
  }

  a {
    color: $third-color;
  }

  .icon-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 2em;
      color: $second-color;
    }
  }
}
