/* Color Theme Swatches in Hex */
$first-color: #658c8c;
$second-color: #f3f2e2;
$third-color: #f25757;
$fourth-color: #a64141;
$fifth-color: #0d0d0d;

$first-font: Carter One;
$second-font: Josefin Sans;

* {
  margin: 0;
}
