/* Color Theme Swatches in Hex */
$first-color: #658c8c;
$second-color: #f2f0d5;
$third-color: #f25757;
$fourth-color: #a64141;
$fifth-color: #0d0d0d;

$first-font: "Montserrat", sans-serif;
$second-font: "Roboto Mono", monospace;

* {
  margin: 0;
}
